calculadora/Win32/Debug
calculadora/__history
calculadora/__recovery
calculadora/view/__history
calculadora/view/__recovery
calculadora/control/__history
calculoimpostos/Win32/Debug
calculoimpostos/__history
calculoimpostos/__recovery
calculoimpostos/view/__history
calculoimpostos/view/__recovery
calculoimpostos/controller/__history
calculoimpostos/controller/__recovery
calculoimpostos/model/__history
calculoimpostos/model/__recovery
calculoimpostos/DAO/__history
calculoimpostos/DAO/__recovery