
__history/pTheosTest.dpr.~1~
__history/pTheosTest.dpr.~2~
*.~1~
__history/uCalc.pas.~29~
__history/uCalc.pas.~30~
__history/uCalc.pas.~31~
__history/uCalc.pas.~32~
__history/uCalc.pas.~33~
__history/uCalc.pas.~34~
__history/uCalc.pas.~35~
__history/uCalc.pas.~36~
__history/uCalc.pas.~37~
__history/uCalc.pas.~38~
__history/uDataBase.pas.~2~
__history/uDependente.pas.~2~
__history/uDependente.pas.~3~
__history/uDependente.pas.~4~
__history/uDependente.pas.~5~
__history/uFCalc.dfm.~10~
__history/uFCalc.dfm.~2~
__history/uFCalc.dfm.~3~
__history/uFCalc.dfm.~4~
__history/uFCalc.dfm.~5~
__history/uFCalc.dfm.~6~
__history/uFCalc.dfm.~7~
__history/uFCalc.dfm.~8~
__history/uFCalc.dfm.~9~
__history/uFCalc.pas.~15~
__history/uFCalc.pas.~16~
__history/uFCalc.pas.~17~
__history/uFCalc.pas.~18~
__history/uFCalc.pas.~19~
__history/uFCalc.pas.~20~
__history/uFCalc.pas.~21~
__history/uFCalc.pas.~22~
__history/uFCalc.pas.~23~
__history/uFCalc.pas.~24~
__history/uFuncionario.pas.~2~
__history/uFuncionario.pas.~3~
__history/uFuncionario.pas.~4~
__history/uFuncionario.pas.~5~
__history/uFuncionario.pas.~6~
__history/uFuncionario.pas.~7~
__recovery/__recovery.ini
__recovery/uDataBase.pas
Win32/Debug/pTheosTest.exe
Win32/Debug/uCalc.dcu
Win32/Debug/uDependente.dcu
Win32/Debug/uFCalc.dcu
Win32/Debug/uFuncionario.dcu
__history/uDataBase.pas.~3~
